.mg-product-page{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.products-panel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}


.product-item{
	height: 370px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.product-item .product-info{
	
}

.product-info > span{
	display: block;
	margin-top: 3px;
}

.product-info .product-name{
	font-size: x-large;
}

.product-info .product-descr{
	font-size: medium;
}

.product-info .product-price{
	font-size: large;
	font-weight: bold;
}

.product-info .order-action{
	display: inline;
	margin-right: 5px;
}

.product-item .img-container{
	width: 90%;
	height: 300px;
	display: inline;
}

.img-container .product-img{
	max-width: 100%;
    height: auto;
}

#billing-panel{
	position: absolute;
    top: 10px;
    right: 5px;
    width: 250px;
    margin-top: 9px;
}

.view-order-content{
	position: relative;
}

.admin-product-img-container{
	width: 70%;
	height: 150px;
	display: inline;
}

.admin-product-img-container .product-img{
	max-width: 100%;
    height: auto;
}
.error{
	color: red;
}
.message-container{
	height: 250px;
}
