<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <title>Products management</title>
</head>
<body>
	<div layout:fragment="content">
		<a th:href="@{/admin/products/new}" class="btn btn-success" role="button">New product</a>
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Image</th>
					<th>Price</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody th:each="product : ${products}">
				<tr>
					<td th:text="${product.productName}"></td>
					<td th:text="${product.description}"></td>
					<td>
						<div class="admin-product-img-container"><img class="product-img" alt="Product image" th:src="@{/img/{location}(location = ${product.imageURL})}"/></div>
					</td>
					<td th:text="${product.price}"></td>
					<td><a th:href="@{/admin/products/edit/{id}(id=${product.id})}" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
					<td><a th:href="@{/admin/products/remove?id={id}(id=${product.id})}" class="btn btn-primary btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>