<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/layout">
<head>
<title>Product management</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:object="${product}" method="post"
			th:action="@{/admin/products/save}" class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Name</label>

				<div class="col-sm-10">
					<input type="text" th:field="*{productName}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Description</label>

				<div class="col-sm-10">
					<textarea th:field="*{description}" class="form-control"> </textarea>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Price</label>

				<div class="col-sm-10">
					<input type="number" step="0.01" th:field="*{price}" class="form-control"/>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Product type</label>

				<div class="col-sm-10">
					<select th:field="*{productType}"  class="form-control">
						<option
							th:each="type : ${T(edu.mum.coffee.domain.ProductType).values()}"
							th:value="${type}" th:text="${type.name()}"></option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Image URL</label>

				<div class="col-sm-10">
					<input type="text" th:field="*{imageURL}" class="form-control"/>
				</div>
			</div>
		
			<input type="hidden" th:field="*{id}" /> 
			<div class="hr-line-dashed"></div>
			<div class="form-group">
				<div class="col-sm-4 col-sm-offset-2">
					<a th:href="@{/admin/products/}"
						class="btn btn-white">Cancel</a>
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>