<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!-- layout:fragment="content"
 --><body class="top-navigation pace-done">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div class="row border-bottom white-bg">
		        <nav class="navbar navbar-static-top" role="navigation">
		            <div class="navbar-header">
		                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
		                    <i class="fa fa-reorder"></i>
		                </button>
		                <a href="#" class="navbar-brand">Coffee shop</a>
		            </div>
		            <div class="navbar-collapse collapse" id="navbar">
		                <ul class="nav navbar-nav">
		                    <li class="active">
		                        <a href="/admin"> Dashboard</a>
		                    </li>
		                    <li>
		                        <a href="/admin/products"> Products </a>
		                    </li>
		                    <li>
		                        <a href="/admin/orders"> Orders </a>
		                    </li>
		                    <li>
		                        <a href="/admin/people"> Users </a>
		                    </li>
		                </ul>
		                <ul class="nav navbar-top-links navbar-right">
		                    <li>
		                        <a th:href="@{/logout}">
		                            <i class="fa fa-sign-out"></i> Log out
		                        </a>
		                    </li>
		                </ul>
		            </div>
		        </nav>
	        </div>
	        <div class="wrapper wrapper-content">
	        		<div class="container" layout:fragment="content">
	        		
	        		</div>
	        </div>
		</div>
	</div>
</body>
</html>