<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<div layout:fragment="content">
		<div class="mg-product-page">
			<div class="container">
				<div class="message-container">
					<h2>You are unauthorized for this page, please login or try another account!!! <a th:href="@{/logout}">Logout</a> </h2>
				</div>
			</div>
		</div>
	</div>
</body>
</html>