<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<div layout:fragment="content">
		<div class="mg-product-page">
			<div class="container">
				<div class="products-panel">
					<div th:each="product : ${products}" class="product-item">
					<div class="img-container"><img class="product-img" alt="Product image" th:src="@{/img/{location}(location = ${product.imageURL})}"/></div>
					<div class="product-info">
						<span class="product-name" th:text="${product.productName}"></span>
						<span class="product-descr" th:text="${product.description}"></span>
						<span class="product-price" th:text="${product.price + '$'}"></span>
						<span class="order-product"> <a th:href="@{/orders/addOrderLine(productId = ${product.id})}" class="btn btn-primary btn-primary">Order <span class="glyphicon glyphicon-shopping-cart"></span></a> </span>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>