<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Coffee shop</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/theme.css" />
<link rel="stylesheet" href="/css/custom.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/cs-select.css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/default.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
	<header class="header">
		<!-- available class for header: .sticky .center-content .transp -->
		<nav class="navbar navbar-inverse">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="/"> <h2 style="color: white;">Coffee shop</h2> </a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/}">Home</a></li>
						<li><a th:href="@{/orders/viewOrders}">Shopping cart</a></li>
						<li sec:authorize="isAnonymous()"><a th:href="@{/user/login}">Login</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/people/viewUpdate}">Account ( <span sec:authentication="name"></span>)
						</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout </a></li>
					</ul>
				</div>
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
	
	<div layout:fragment="content"></div>
	<footer class="mg-footer">
		<div class="mg-footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<h2 class="mg-widget-title">Contact US</h2>
							<address>
								1000N 4th Stree2, 52557
							</address>

							<p>
								+000-123-456-789<br /> +000-123-456-789
							</p>

							<p>
								<a href="mailto:#">xmphan@example.com</a>
							</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<ul class="mg-instagram">
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<h2 class="mg-widget-title">Newsletter</h2>
							<p>Update our latest news</p>
							<form>
								<p>
									<input type="email" class="form-control"
										placeholder="Your Email" />
								</p>
								<input type="submit" class="btn btn-main" value="Subscribe" />
							</form>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<h2 class="mg-widget-title">Social Media</h2>
							<p> </p>
							<ul class="mg-footer-social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mg-copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<ul class="mg-footer-nav">
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<p>
							© 2015 <a href="xmphan@mum.edu">My page</a>. All
							rights reserved.
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
