<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<div layout:fragment="content">
				<div class="mg-product-page">
			<div class="panel panel-info">
				<div class="panel-heading">User information update</div>
				<div class="panel-body">
					<form class="form-horizontal" method="POST" th:action="@{/login}">
						<div th:if="${param.error}" class="error">
							<div class="alert alert-danger">Invalid username or
								password.</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Email:</label> 
							<div class="col-sm-10">
								<input type="email" name="username" placeholder="Enter email" class="form-control" id="email" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="password">Password:</label> 
							<div class="col-sm-10">
								<input type="password" name="password" placeholder="Enter password" class="form-control" id="password" />
							</div>
						</div>
												
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10"> 
							  	<button type="submit" class="btn btn-primary btn-success">
								<span class="glyphicon glyphicon-log-in"></span> Login
								</button>
							 </div>
						</div>
					</form>
					<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10"> 
								<a th:href="@{/user/register}"><span>Register a new account.</span></a>							
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>