<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<div layout:fragment="content" class="view-order-content">
		<div class="mg-product-page">
			<div class="panel panel-info">
				<div class="panel-heading">User information update</div>
				<div class="panel-body">
					<form class="form-horizontal" method="POST" th:action="@{/user/register}" th:object="${user}">
						<div class="form-group">
							<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
								<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Email:</label> 
							<div class="col-sm-10">
								<input type="email" th:field="*{person.email}" placeholder="Enter email" class="form-control" id="email" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="password">Password:</label> 
							<div class="col-sm-10">
								<input type="password" th:field="*{password}" placeholder="Enter password" class="form-control" id="password" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="firstName">First Name:</label>
							<div class="col-sm-10">
								<input type="text" th:field="*{person.firstName}"	class="form-control" id="firstName" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="lastName">Last Name:</label>
							<div class="col-sm-10">
								<input type="text" th:field="*{person.lastName}"	class="form-control" id="lastName" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="phone">Phone:</label> 
							<div class="col-sm-10">
								<input type="text" th:field="*{person.phone}"	class="form-control" id="phone" />
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10"> 
							  	<button type="submit" class="btn btn-primary btn-success">
								<span class="glyphicon floppy-disk"></span> Register
								</button>
							 </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>