<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <title>Users management</title>
</head>
<body>
	<div layout:fragment="content">
		<a th:href="@{/admin/user/new}" class="btn btn-success" role="button">New person</a>
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Email</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Enabled</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody th:each="person : ${persons}">
				<tr>
					<td th:text="${person.firstName}"></td>
					<td th:text="${person.lastName}"></td>
					<td th:text="${person.email}"></td>
					<td th:text="${person?.address?.city}"></td>
					<td th:text="${person.phone}"></td>
					<td th:text ="${person.enable? 'Enabled' : 'Disabled'}"></td>
					<td th:if="${person.enable}"><a th:href="@{/admin/people/changeStatus(id=${person.id}, enable =false)}" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> Disable</a></td>
					<td th:if="${!person.enable}"><a th:href="@{/admin/people/changeStatus(id=${person.id}, enable =true)}" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span> Enable</a></td>
					<td><a th:href="@{/admin/user/remove(email=${person.email})}" class="btn btn-primary btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>