<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout">
<head>
<title>Orders management</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="panel panel-info">
			<div class="panel-heading">List orders</div>
			<div class="panel-body">
				<table class="table table-stripped">
					<thead>
						<tr>
							<th>Date</th>
							<th>Person</th>
							<th>Order Lines</th>
							<th>Total amount</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody th:each="order : ${orders}">
						<tr>
							<td th:text="${order.orderDate}"></td>
							<td th:text="${order?.person?.firstName +' ' + order?.person?.lastName }"></td>
							<td>
								<ul>
									<li th:each="orderLine : ${order?.orderLines}">
										<span th:text="${orderLine.product.productName +' x ' + orderLine.quantity}"></span>
									 	<span>............</span>
										<span th:text="${orderLine.subtotal + '$'}"></span>
									</li>
								</ul>
							</td>
							<td th:text="${order.totalAmount}"></td>
							<td>
								<a th:href="@{/admin/orders/remove?id={id}(id=${order.id})}"
								class="btn btn-primary btn-danger"><span class="glyphicon glyphicon-trash"></span>
									Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>