<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<div layout:fragment="content" class="view-order-content">
		<div class="mg-product-page">
			<div class="panel-warning class">
				<div class="panel-heading">Billing information</div>
				<div class="panel-body">
					<table th:if="${not #lists.isEmpty(customerOrder.orderLines)}" class="table table-striped">
						<thead>
							<tr>
								<th>Product name</th>
								<th>Description name</th>
								<th>Price ($)</th>
								<th>Quantity</th>
								<th>Sub Total ($)</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="orderLine : ${customerOrder.orderLines}">
								<td th:text="${orderLine.product.productName}"></td>
								<td th:text="${orderLine.product.description}"></td>
								<td th:text="${orderLine.product.price}"></td>
								<td th:text="${orderLine.quantity}"></td>
								<td th:text="${orderLine.subtotal}"></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5"><h2
										th:text="${'Total : ' + customerOrder.totalAmount}"></h2></td>
							</tr>
						</tfoot>
					</table>
					<form class="form-horizontal" th:action="@{confirmOrder}" method="POST">
						<div class="form-group">
							<label for="email">Email:</label> 
							<input type="email" th:value="${customerOrder?.person?.email}" readonly="readonly"
								class="form-control" id="email" />
						</div>
						<div class="form-group">
							<label for="phone">Phone:</label> 
							<input type="text" th:value="${customerOrder?.person?.phone}" readonly="readonly"
								class="form-control" id="phone" />
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-success">
								<span class="glyphicon glyphicon-check"></span> Confirm Order
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>