<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<div layout:fragment="content" class="view-order-content">
		<div class="mg-product-page">
			<div class="panel panel-warning class" id ="billing-panel" th:if="${not #lists.isEmpty(customerOrder.orderLines)}">
				<div class="panel-heading">Billing information</div>
				<div class="panel-body">
					<div class="item-summary">
						<ul>
							<li th:each="orderLine : ${customerOrder.orderLines}"> 
								<span th:text="${orderLine.product.productName +' x ' + orderLine.quantity}"></span> 
								<span>..................</span>
								<span th:text="${orderLine.subtotal + '$'}"></span>
							</li>
						</ul>
					</div>
					<div class="item-total">
						<h3 th:text="${'Total: ' + customerOrder.totalAmount}"></h3>
						<p>
							<a th:href="@{placeOrder}" class="btn btn-primary btn-primary">Place order 
								<span class="glyphicon glyphicon-check"></span>
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="products-panel">
					<div th:each="orderLine : ${customerOrder.orderLines}"
						class="product-item">
						<form class="form-inline" th:action="@{/orders/update}" method="POST">
							<div class="img-container">
								<img class="product-img" alt="Product image" th:src="@{/img/{location}(location = ${orderLine.product.imageURL})}" />
							</div>
							<div class="product-info">
								<span class="product-name" th:text="${orderLine.product.productName}"></span>
								<span class="product-descr"	th:text="${orderLine.product.description}"></span>
								<span class="product-price" th:text="${'Price : '+ orderLine.product.price + '$'}"></span>
								<input type="hidden"  th:value ="${orderLine.product.id}" name="productId"/>
								<div class="form-group">
									<label for="quantity">Quantity:</label> <input type="number" th:value ="${orderLine.quantity}" name="quantity"
										class="form-control" id="quantity"/>
								</div>
								<span class="product-price" th:text="${'Total : '+ orderLine.subtotal + '$'}"></span>
								<span class="order-action"> 
									<button type="submit" class="btn btn-primary btn-primary" name="update">Update
										<span class="glyphicon glyphicon-floppy-disk"></span>
									</button>
								</span>
								<span class="order-action"> 
									<button type="submit" class="btn btn-primary btn-default" name="delete">Remove
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="panel panel-primary" th:if="${#lists.isEmpty(customerOrder.orderLines)}">
				<div class="panel-heading">No item in your shopping cart</div>
				<div class="panel-body">You don't have any item yet, please get back to home page to choose your item, Thanks!</div>
			</div>
		</div>
	</div>
</body>
</html>